
@model TopLearnLand_DataLayer.Entities.User.User
@{
    Layout = null;
}

<main class="client-page">
    <div class="container-content">

        <header><h2> @Model.UserName عزیز! </h2></header>
        <p>جهت بازیابی رمز عبور روی لینک زیر کلیک کنید</p>
        <p>
            <a class="btn btn-primary btn-block img-rounded" href="https://localhost:44376/Account/ResetpassWord/@Model.ActiveCode">فعالسازی حساب کاربری</a>
        </p>

    </div>
</main>