
@model TopLearnLand_Core.DTOs_ViewModels_.ForgotPassWordViewModels
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsSuccessedSendEmail != null)
        {
            <div class="alert alert-success">
                <p class="help-block">ایمیل باموفقیت ارسال شد. لطفا جهت بازیابی ایمیل خود ررا چک کنید.</p>
            </div>
        }
        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassWord" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span class="alert-danger" asp-validation-for="Email"></span>
                <hr />
                <button class="btn btn-success"> تایید و ارسال </button>

            </form>
        </div>

    </div>
</main>
