
@model TopLearnLand_Core.DTOs_ViewModels_.ResetPassWordViewModels
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsSuccessedResetPassWord != null)
        {
            <div class="alert alert-success">
                <p class="help-block">رمز عبور شما باموفقیت بازیابی شد</p>
            </div>
        }
        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-controller="Account" asp-action="ResetPassWord" method="post">

                <input asp-for="ActiveCode" type="hidden" />

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور" aria-describedby="email-address">
                </div>
                <span class="alert-danger" asp-validation-for="Password"></span>
                <hr />
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور" aria-describedby="email-address">
                </div>
                <span class="alert-danger" asp-validation-for="RePassword"></span>
                <hr />
                <button class="btn btn-success"> بازیابی رمز </button>

            </form>
        </div>

    </div>
</main>

