
@{
    ViewData["Title"] = "OnlinePayment";
}

<style type="text/css">
    .mizekar li:hover {
        background-color: #f2f2f2 !important;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    }

    .mizekar li a:hover {
        margin-right: 7px
    }

    .boxshadow:hover {
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    }

    .boxshadow {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

    .margin {
        margin-right: 6px;
    }

        .margin a:hover {
            color: cornflowerblue;
        }

    .wallet tr {
        background-color: #f2f2f2;
    }
</style>

<div class="container" style="height: 50px;">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb thumbnail img-rounded boxshadow">
            <li class="breadcrumb-item margin"><a href="/">تاپ لرن</a></li>
            <li class="breadcrumb-item margin" aria-current="page"> <a href="/UserPanel">پنل کاربری</a> </li>
            <li class="breadcrumb-item margin active" aria-current="page"> نتیجه پرداخت </li>
        </ul>
    </nav>
</div>

<div class="container">
    @if (ViewBag.IsSuccess == true)
    {
        <script type="text/javascript">
            var delay = 4000;
            document.setTimeout(function ()
            {
                document.window.location = "https://localhost:44376/UserPanel";
            }, delay);
        </script>

        <div class="alert alert-success">
            <h2>پرداخت با موفقیت انجام شد</h2>
            <p>کد پیگیری : @ViewBag.Code</p>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <h2>پرداخت باشکست مواجه شد</h2>
            <p>کد پیگیری : @ViewBag.Code</p>
        </div>
    }
</div>